
<!-- {{drawGraph()}} -->
<!-- <div id="chartContainer" style="height: 400px; width: 80%; margin: 10%;"></div> -->
<div class="image">
  <div style="background-color: rgb(23, 219, 226);height: 50px;"><h2 style="text-align: center;">India covid-19 updates</h2></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div *ngFor="let state of Statedata">
          <div *ngIf="state.state == 'Total'" >
            {{drawGraph(state)}}
            <google-chart [data]="pieChart"></google-chart>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div style="background-color: white;"><h2 style="text-align: center;"><u>Statewise Covid-19 Updates</u></h2></div>

  <p style="text-align: center;">Click on State name to see Districtwise data</p>
  <div class="container">
  <table class="table table-striped">
    <tr>
      <th>State</th>
      <th>Confirmed</th>
      <th style="color :rgb(248, 82, 4)">Active</th>
      <th style="color:green">Recovered</th>
      <th style="color :red">Deaths</th>
    </tr>
      <tr *ngFor="let state of Statedata">
        <td class="myDIV" (click) = "showDistrictWise(state.state)">
          <a href="#C4" style="color: black;"><u>{{state.state}}</u></a>
      </td>
        <td>{{state.confirmed}}</td>
        <td style="color :rgb(248, 82, 4)">{{state.active}}</td>
        <td style="color:green">{{state.recovered}}</td>
        <td style="color :red">{{state.deaths}}</td>
      </tr>
  </table>
  </div>

  <!-- <h1>*************************************************************************************</h1> -->
<div id = "C4">
  <div *ngIf="showdistrictwise">
    <h2 style="text-align: center;"><u>Districtwise Covid-19 Updates</u></h2>
  <p style="text-align: center;">Click on District name to see Graphical view</p>
  <div *ngFor="let state of Object.keys(finalData)">
    <!-- <p>{{state}}</p> -->
    <div *ngIf = "state == statename">
        <!-- {{JSON.stringify(finalData[state][data])}} -->
          <!-- <p>{{dist}}</p><br>
          <p>{{finalData[state][data][dist].confirmed}}</p> -->
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <table  class="table table-striped">
                  <thead>
                    <tr>
                      <th>District</th>
                      <th>Confirmed</th>
                      <th style="color :rgb(248, 82, 4)">Active</th>
                      <th style="color:green">Recovered</th>
                      <th style="color :red">Deaths</th>
                      <!-- {{firstrow()}} -->
                    </tr>
                  </thead>
                        <tbody *ngFor = "let data of Object.keys(finalData[state])">
                          <tr *ngFor="let dist of Object.keys(finalData[state][data])">
                            <td class="myDIV" (click) = 'drawGraphforDistrict(finalData[state][data][dist].confirmed,finalData[state][data][dist].active,finalData[state][data][dist].recovered,finalData[state][data][dist].deceased,dist)'>{{dist}}</td>
                            <td>{{finalData[state][data][dist].confirmed}}</td>
                            <td style="color :rgb(248, 82, 4)">{{finalData[state][data][dist].active}}</td>
                            <td style="color:green">{{finalData[state][data][dist].recovered}}</td>
                            <td style="color :red">{{finalData[state][data][dist].deceased}}</td>
                          </tr>
                        </tbody>
                </table>
              </div>
              <div class="col-sm-6">
                <ng-container *ngIf="showgraph">
                  <span>
                    <google-chart [data]="pieChartforDistrict"></google-chart>
                  </span>
                  <!-- <span *ngIf="!showgraph">
                    {{setshowgraph()}}
                  </span> -->
                </ng-container>

              </div>
            </div>

          </div>


        </div>
  </div>
  </div>
</div>

</div>


